<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> CityScape Real Estate Html Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <!-- Magnific popup css -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <!-- line awesome -->
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
    <!-- Image Uploader -->
    <link rel="stylesheet" href="/assets/css/image-uploader.min.css">
    <!-- jQuery Ui Css -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

  {% block body %}{% endblock %}

    <!-- Jquery js -->
    <script src="/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Bundle Js -->
    <script src="/assets/js/boostrap.bundle.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/assets/js/magnific-popup.min.js"></script>
    <!-- Slick js -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Counter Up Js -->
    <script src="/assets/js/counterup.min.js"></script>
    <!-- Marquee text slider -->
    <script src="/assets/js/jquery.marquee.min.js"></script>
    <!-- Image Uploader -->
    <script src="/assets/js/image-uploader.min.js"></script>
    <!-- jQuery Ui Css -->
    <script src="/assets/js/jquery-ui.min.js"></script>

    <!-- main js -->
    <script src="/assets/js/main.js"></script>

    </body>
</html>