<div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{ field('name', item.name, "Titre de la catégorie") }}
                {{ field('slug', item.slug ?? '', "Lien") }}
                {{ field('created_at', item.created_at ?? '', "Date de création", {class: 'datepicker'}) }}
            </div>
        </div>
    </div>